@using Blazored.Toast.Services
@using FairPlayShop.Common.CustomAttributes
@using FairPlayShop.Common.Enums
@using FairPlayShop.Interfaces.Services
@using FairPlayShop.Models.Product
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyProduct}/Store/{{StoreId:long}}")]
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyProduct}/Store/{{StoreId:long}}/Product/{{ProductId:long}}")]
@attribute [Authorize]
@rendermode RenderMode.InteractiveServer

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<PageTitle>
    @Localizer![CreateMyProductTextKey]
</PageTitle>
<h3>
    @Localizer![CreateMyProductTextKey]
</h3>

<EditForm FormName="frmCreateProduct" Model="@this.CreateProductModel"
          OnValidSubmit="OnValidSubmitAsync">
    <div class="mb-3">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![NameTextKey]</label>
        <InputText class="form-control" @bind-Value="CreateProductModel!.Name"></InputText>
        <ValidationMessage For="@( () => CreateProductModel!.Name)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![DescriptionTextKey]</label>
        <InputTextArea class="form-control" @bind-Value="CreateProductModel!.Description"></InputTextArea>
        <ValidationMessage For="@( () => CreateProductModel!.Description)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![SkuTextKey]</label>
        <InputText class="form-control" @bind-Value="CreateProductModel!.Sku"></InputText>
        <ValidationMessage For="@( () => CreateProductModel!.Sku)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![BarcodeTextKey]</label>
        <InputText class="form-control" @bind-Value="CreateProductModel!.Barcode"></InputText>
        <ValidationMessage For="@( () => CreateProductModel!.Barcode)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![SellingPriceTextKey]</label>
        <InputNumber class="form-control" @bind-Value="CreateProductModel!.SellingPrice"></InputNumber>
        <ValidationMessage For="@( () => CreateProductModel!.SellingPrice)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![AcquisitionCostTextKey]</label>
        <InputNumber class="form-control" @bind-Value="CreateProductModel!.AcquisitionCost"></InputNumber>
        <ValidationMessage For="@( () => CreateProductModel!.AcquisitionCost)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![QuantityInStockTextKey]</label>
        <InputNumber class="form-control" @bind-Value="CreateProductModel!.QuantityInStock"></InputNumber>
        <ValidationMessage For="@( () => CreateProductModel!.QuantityInStock)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![ProductStatusTextKey]</label>
        <InputSelect class="form-select" @bind-Value="@this.CreateProductModel!.ProductStatus">
            <option value="">@Localizer![SelectProductStatusTextKey]</option>
            @foreach (var singleProductStatus in Enum.GetValues<ProductStatus>())
            {
                <option value="@singleProductStatus">@singleProductStatus.ToString()</option>
            }
        </InputSelect>
        <ValidationMessage For="@( () => CreateProductModel!.ProductStatus)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![ThumbnailImageTextKey]</label>
        <InputFile class="form-control" OnChange="OnThumbnailInputFileChanged"></InputFile>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">@CustomLocalization.GlobalKeysLocalizer.SaveText</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public long StoreId { get; set; }
    [Parameter]
    public long? ProductId { get; set; }
    [Inject]
    private IToastService? ToastService { get; set; }
    [Inject]
    private IProductService? ProductService { get; set; }
    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    [Inject]
    private IStringLocalizer<CreateMyProduct>? Localizer { get; set; }
    [SupplyParameterFromForm]
    private CreateProductModel? CreateProductModel { get; set; } = new CreateProductModel();
    private bool IsBusy { get; set; }
    private CancellationTokenSource CancellationTokenSource { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        if (this.CreateProductModel != null)
        {
            this.CreateProductModel.StoreId = this.StoreId;
            if (this.ProductId != null)
            {
                ProductModel productModel = await this.ProductService!.GetMyProductByIdAsync(this.ProductId.Value, CancellationTokenSource.Token);
                this.CreateProductModel!.ProductStatus = productModel.ProductStatus;
                this.CreateProductModel.Sku = productModel.Sku;
                this.CreateProductModel.AcquisitionCost = productModel.AcquisitionCost;
                this.CreateProductModel.Barcode = productModel.Barcode;
                this.CreateProductModel.Description = productModel.Description;
                this.CreateProductModel.Name = productModel.Name;
                this.CreateProductModel.QuantityInStock = productModel.QuantityInStock;
                this.CreateProductModel.SellingPrice = productModel.SellingPrice;
            }
        }
    }

    private async Task OnValidSubmitAsync()
    {
        this.IsBusy = true;
        await this.ProductService!.CreateMyProductAsync(this.CreateProductModel!, CancellationTokenSource.Token);
        this.IsBusy = false;
        this.ToastService!.ShowSuccess(message: Localizer![ProductSavedTextKey]);
        NavigationManager!.NavigateTo($"{Common.Constants.ApiRoutes.MyProductList}/Store/{StoreId}");
    }

    private async void OnThumbnailInputFileChanged(InputFileChangeEventArgs inputFileChangeEventArgs)
    {
        if (inputFileChangeEventArgs.FileCount == 1)
        {
            int maxFileSizeinMB = 5;
            int maxFileSizeinKB = maxFileSizeinMB * 1024 * 1024;
            var stream = inputFileChangeEventArgs.File.OpenReadStream(maxAllowedSize: maxFileSizeinKB);
            this.CreateProductModel!.PhotoBytes = new byte[stream.Length];
            await stream.ReadAsync(this.CreateProductModel!.PhotoBytes, 0, (int)stream.Length);
            this.CreateProductModel.PhotoName = Path.GetFileName(inputFileChangeEventArgs.File.Name);
            this.CreateProductModel.PhotoFilename = inputFileChangeEventArgs.File.Name;
        }
    }

    [ResourceKey(defaultValue: "Create My Product ")]
    public const string CreateMyProductTextKey = "CreateMyProductText";
    [ResourceKey(defaultValue: "Name")]
    public const string NameTextKey = "NameText";
    [ResourceKey(defaultValue: "Description")]
    public const string DescriptionTextKey = "DescriptionText";
    [ResourceKey(defaultValue: "Sku")]
    public const string SkuTextKey = "SkuText";
    [ResourceKey(defaultValue: "Barcode")]
    public const string BarcodeTextKey = "BarcodeText";
    [ResourceKey(defaultValue: "Selling Price")]
    public const string SellingPriceTextKey = "SellingPriceText";
    [ResourceKey(defaultValue: "Acquisition Cost")]
    public const string AcquisitionCostTextKey = "AcquisitionCostText";
    [ResourceKey(defaultValue: "Quantity In Stock")]
    public const string QuantityInStockTextKey = "QuantityInStockText";
    [ResourceKey(defaultValue: "Product Status")]
    public const string ProductStatusTextKey = "ProductStatusText";
    [ResourceKey(defaultValue: "Select a Product Status")]
    public const string SelectProductStatusTextKey = "SelectProductStatusText";
    [ResourceKey(defaultValue: "Thumbnail Image")]
    public const string ThumbnailImageTextKey = "ThumbnailImageText";
    [ResourceKey(defaultValue: "Your product has been saved")]
    public const string ProductSavedTextKey = "ProductSavedText";
}
