@using Blazored.Toast.Services
@using FairPlayShop.Common.Enums
@using FairPlayShop.Interfaces.Services
@using FairPlayShop.Models.City
@using FairPlayShop.Models.Country
@using FairPlayShop.Models.Product
@using FairPlayShop.Models.StateOrProvince
@using FairPlayShop.Models.StoreCustomer
@using Microsoft.AspNetCore.Authorization
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyStoreCustomer}/Store/{{StoreId:long}}")]
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyStoreCustomer}/Store/{{StoreId:long}}/Customer/{{CustomerId:long}}")]
@attribute [Authorize]
@rendermode RenderMode.InteractiveServer

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<PageTitle>
    @nameof(Common.Constants.ApiRoutes.CreateMyStoreCustomer)
</PageTitle>
<h3>
    @nameof(Common.Constants.ApiRoutes.CreateMyStoreCustomer)
</h3>

<EditForm FormName="frmCreateStoreCustomer" Model="@this.CreateStoreCustomerModel"
          OnValidSubmit="OnValidSubmitAsync" Enhance>
    <div class="mb-3">
        <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="mb-3">
        <h3>Customer Info</h3>
        <label class="form-label">@nameof(CreateStoreCustomerModel.Firstname)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.Firstname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.Firstname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.Lastname)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.Lastname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.Lastname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.Surname)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.Surname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.Surname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.EmailAddress)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.EmailAddress"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.EmailAddress)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.PhoneNumber)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.PhoneNumber"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.PhoneNumber)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <h3>Customer Address</h3>
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Firstname)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Firstname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Firstname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Lastname)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Lastname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Lastname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Company)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Company"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Company)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine1)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.AddressLine1"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine1)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine2)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.AddressLine2"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine2)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PhoneNumber)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.PhoneNumber"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PhoneNumber)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@nameof(CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PostalCode)</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.PostalCode"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PostalCode)"></ValidationMessage>
    </div>
    @if (this.CountryList != null)
    {
        <div class="mb-3">
            <label class="form-label">Country</label>
            <InputSelect class="form-select"
                         ValueExpression="@( () => SelectedCountryId)"
                         Value="@SelectedCountryId"
                         ValueChanged="@( async (int? selectedValue) => await OnSelectedCountryChangedAsync(selectedValue))">
                <option value="">Select a Country</option>
                @foreach (var singleCountry in this.CountryList)
                {
                    <option value="@singleCountry.CountryId">@singleCountry.Name</option>
                }
            </InputSelect>
        </div>
    }
    @if (this.StateOrProvinceList != null)
    {
        <div class="mb-3">
            <label class="form-label">State Or Province</label>
            <InputSelect class="form-select"
                         ValueExpression="@( () => SelectedStateOrProvinceId)"
                         Value="@SelectedStateOrProvinceId"
                         ValueChanged="@( async (int? selectedValue) => await OnSelectedStateOrProvinceChangedAsync(selectedValue))">
                <option value="">Select a State Or Province</option>
                @foreach (var singleStateOrProvince in this.StateOrProvinceList)
                {
                    <option value="@singleStateOrProvince.StateOrProvinceId">@singleStateOrProvince.Name</option>
                }
            </InputSelect>
        </div>
    }
    @if (this.CityList != null)
    {
        <div class="mb-3">
            <label class="form-label">City</label>
            <InputSelect class="form-select" @bind-Value="this.CreateStoreCustomerModel.CreateStoreCustomerAddressModel.CityId">
                <option value="">Select a City</option>
                @foreach (var singleCity in this.CityList)
                {
                    <option value="@singleCity.CityId">@singleCity.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.CityId)"></ValidationMessage>
        </div>
    }
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public long StoreId { get; set; }
    [Parameter]
    public long? CustomerId { get; set; }
    [Inject]
    private IToastService? ToastService { get; set; }
    [Inject]
    private IStoreCustomerService? StoreCustomerService { get; set; }
    [Inject]
    private ICountryService? CountryService { get; set; }
    [Inject]
    private IStateOrProvinceService? StateOrProvinceService { get; set; }
    [Inject]
    private ICityService? CityService { get; set; }
    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    [SupplyParameterFromForm]
    private CreateStoreCustomerModel? CreateStoreCustomerModel { get; set; } = new CreateStoreCustomerModel()
        {
            CreateStoreCustomerAddressModel = new Models.StoreCustomerAddress.CreateStoreCustomerAddressModel()
        };
    private bool IsBusy { get; set; }
    private int? SelectedCountryId { get; set; }
    private int? SelectedStateOrProvinceId { get; set; }
    private CountryModel[]? CountryList { get; set; }
    private StateOrProvinceModel[]? StateOrProvinceList { get; set; }
    private CityModel[]? CityList { get; set; }
    protected override async Task OnInitializedAsync()
    {
        this.CountryList = await this.CountryService!.GetCountryListAsync(CancellationToken.None);
        if (this.CreateStoreCustomerModel != null)
        {
            this.CreateStoreCustomerModel.StoreId = this.StoreId;
            if (this.CustomerId != null)
            {
                StoreCustomerModel storeCustomerModel = await this.StoreCustomerService!.GetMyStoreCustomerAsync(this.CustomerId.Value, CancellationToken.None);
                this.CreateStoreCustomerModel!.PhoneNumber = storeCustomerModel.PhoneNumber;
                this.CreateStoreCustomerModel.Firstname = storeCustomerModel.Firstname;
                this.CreateStoreCustomerModel.Lastname = storeCustomerModel.Lastname;
                this.CreateStoreCustomerModel.Surname = storeCustomerModel.Surname;
                this.CreateStoreCustomerModel.EmailAddress = storeCustomerModel.EmailAddress;
            }
        }
    }

    private async Task OnValidSubmitAsync()
    {
        this.IsBusy = true;
        await this.StoreCustomerService!.CreateMyStoreCustomerAsync(this.CreateStoreCustomerModel!, CancellationToken.None);
        this.IsBusy = false;
        this.ToastService!.ShowSuccess(message: "Your customer has been saved");
        NavigationManager!.NavigateTo($"{Common.Constants.ApiRoutes.MyStoreCustomerList}/Store/{StoreId}");
    }

    private async Task OnSelectedCountryChangedAsync(int? selectedValue)
    {
        this.IsBusy = true;
        this.SelectedCountryId = selectedValue;
        this.CityList = null;
        this.StateOrProvinceList = null;
        if (selectedValue is not null)
        {
            this.StateOrProvinceList = await this.StateOrProvinceService!
            .GetCountryStateOrProvinceListAsync(this.SelectedCountryId!.Value,
            CancellationToken.None);
        }
        this.SelectedStateOrProvinceId = null;
        this.CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.CityId = null;
        this.IsBusy = false;
    }

    private async Task OnSelectedStateOrProvinceChangedAsync(int? selectedValue)
    {
        this.IsBusy = true;
        this.SelectedStateOrProvinceId = selectedValue;
        CityList = null;
        if (selectedValue is not null)
        {
            this.CityList = await this.CityService!
            .GetStateOrProvinceCityListAsync(this.SelectedStateOrProvinceId!.Value,
            CancellationToken.None);
        }
        this.CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.CityId = null;
        this.IsBusy = false;
    }
}
