@using Blazored.Toast.Services
@using FairPlayShop.Common.CustomAttributes
@using FairPlayShop.Common.Enums
@using FairPlayShop.Interfaces.Services
@using FairPlayShop.Models.City
@using FairPlayShop.Models.Country
@using FairPlayShop.Models.Product
@using FairPlayShop.Models.StateOrProvince
@using FairPlayShop.Models.StoreCustomer
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyStoreCustomer}/Store/{{StoreId:long}}")]
@attribute [Route($"{Common.Constants.ApiRoutes.CreateMyStoreCustomer}/Store/{{StoreId:long}}/Customer/{{CustomerId:long}}")]
@attribute [Authorize]
@rendermode RenderMode.InteractiveServer

<LoadingIndicator ShowSpinners="this.IsBusy"></LoadingIndicator>

<PageTitle>
    @Localizer![CreateMyStoreCustomerTextKey]
</PageTitle>
<h3>
    @Localizer![CreateMyStoreCustomerTextKey]
</h3>

<EditForm FormName="frmCreateStoreCustomer" Model="@this.CreateStoreCustomerModel"
          OnValidSubmit="OnValidSubmitAsync" Enhance>
    <div class="mb-3">
        <ObjectGraphDataAnnotationsValidator></ObjectGraphDataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
    </div>
    <div class="mb-3">
        <h3>Customer Info</h3>
        <label class="form-label">@Localizer![NameTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.Name"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.Name)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![FirstSurnameTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.FirstSurname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.FirstSurname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![MiddleSurnameTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.MiddleSurname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.MiddleSurname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![EmailAddressTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.EmailAddress"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.EmailAddress)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![PhoneNumberTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.PhoneNumber"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.PhoneNumber)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <h3>Customer Address</h3>
        <label class="form-label">@Localizer![NameTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Firstname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Firstname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![FirstSurnameTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Lastname"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Lastname)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![CompanyTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.Company"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.Company)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![AddressLine1TextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.AddressLine1"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine1)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![AddressLine2TextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.AddressLine2"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.AddressLine2)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![PhoneNumberTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.PhoneNumber"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PhoneNumber)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">@Localizer![PostalCodeTextKey]</label>
        <InputText class="form-control" @bind-Value="@CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.PostalCode"></InputText>
        <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.PostalCode)"></ValidationMessage>
    </div>
    @if (this.CountryList != null)
    {
        <div class="mb-3">
            <label class="form-label">@Localizer![CountryTextKey]</label>
            <InputSelect class="form-select"
                         ValueExpression="@( () => SelectedCountryId)"
                         Value="@SelectedCountryId"
                         ValueChanged="@( async (int? selectedValue) => await OnSelectedCountryChangedAsync(selectedValue))">
                <option value="">@Localizer![SelectCountryTextKey]</option>
                @foreach (var singleCountry in this.CountryList)
                {
                    <option value="@singleCountry.CountryId">@singleCountry.Name</option>
                }
            </InputSelect>
        </div>
    }
    @if (this.StateOrProvinceList != null)
    {
        <div class="mb-3">
            <label class="form-label">@Localizer![StateOrProvinceTextKey]</label>
            <InputSelect class="form-select"
                         ValueExpression="@( () => SelectedStateOrProvinceId)"
                         Value="@SelectedStateOrProvinceId"
                         ValueChanged="@( async (int? selectedValue) => await OnSelectedStateOrProvinceChangedAsync(selectedValue))">
                <option value="">@Localizer![SelectStateOrProvinceTextKey]</option>
                @foreach (var singleStateOrProvince in this.StateOrProvinceList)
                {
                    <option value="@singleStateOrProvince.StateOrProvinceId">@singleStateOrProvince.Name</option>
                }
            </InputSelect>
        </div>
    }
    @if (this.CityList != null)
    {
        <div class="mb-3">
            <label class="form-label">@Localizer![CityTextKey]</label>
            <InputSelect class="form-select" @bind-Value="this.CreateStoreCustomerModel.CreateStoreCustomerAddressModel.CityId">
                <option value="">@Localizer![SelectCityTextKey]</option>
                @foreach (var singleCity in this.CityList)
                {
                    <option value="@singleCity.CityId">@singleCity.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="@( () => CreateStoreCustomerModel.CreateStoreCustomerAddressModel.CityId)"></ValidationMessage>
        </div>
    }
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">@Localizer![SaveTextKey]</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public long StoreId { get; set; }
    [Parameter]
    public long? CustomerId { get; set; }
    [Inject]
    private IToastService? ToastService { get; set; }
    [Inject]
    private IStoreCustomerService? StoreCustomerService { get; set; }
    [Inject]
    private ICountryService? CountryService { get; set; }
    [Inject]
    private IStateOrProvinceService? StateOrProvinceService { get; set; }
    [Inject]
    private ICityService? CityService { get; set; }
    [Inject]
    private NavigationManager? NavigationManager { get; set; }
    [Inject]
    private IStringLocalizer<CreateMyStoreCustomer>? Localizer { get; set; }
    [SupplyParameterFromForm]
    private CreateStoreCustomerModel? CreateStoreCustomerModel { get; set; } = new CreateStoreCustomerModel()
        {
            CreateStoreCustomerAddressModel = new Models.StoreCustomerAddress.CreateStoreCustomerAddressModel()
        };
    private bool IsBusy { get; set; }
    private int? SelectedCountryId { get; set; }
    private int? SelectedStateOrProvinceId { get; set; }
    private CountryModel[]? CountryList { get; set; }
    private StateOrProvinceModel[]? StateOrProvinceList { get; set; }
    private CityModel[]? CityList { get; set; }
    private CancellationTokenSource CancellationTokenSource { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        this.CountryList = await this.CountryService!.GetCountryListAsync(CancellationTokenSource.Token);
        if (this.CreateStoreCustomerModel != null)
        {
            this.CreateStoreCustomerModel.StoreId = this.StoreId;
            if (this.CustomerId != null)
            {
                StoreCustomerModel storeCustomerModel = await this.StoreCustomerService!.GetMyStoreCustomerAsync(this.CustomerId.Value, CancellationTokenSource.Token);
                this.CreateStoreCustomerModel!.PhoneNumber = storeCustomerModel.PhoneNumber;
                this.CreateStoreCustomerModel.Name = storeCustomerModel.Name;
                this.CreateStoreCustomerModel.FirstSurname = storeCustomerModel.FirstSurname;
                this.CreateStoreCustomerModel.MiddleSurname = storeCustomerModel.MiddleSurname;
                this.CreateStoreCustomerModel.EmailAddress = storeCustomerModel.EmailAddress;
            }
        }
    }

    private async Task OnValidSubmitAsync()
    {
        this.IsBusy = true;
        await this.StoreCustomerService!.CreateMyStoreCustomerAsync(this.CreateStoreCustomerModel!, CancellationTokenSource.Token);
        this.IsBusy = false;
        this.ToastService!.ShowSuccess(message: "Your customer has been saved");
        NavigationManager!.NavigateTo($"{Common.Constants.ApiRoutes.MyStoreCustomerList}/Store/{StoreId}");
    }

    private async Task OnSelectedCountryChangedAsync(int? selectedValue)
    {
        this.IsBusy = true;
        this.SelectedCountryId = selectedValue;
        this.CityList = null;
        this.StateOrProvinceList = null;
        if (selectedValue is not null)
        {
            this.StateOrProvinceList = await this.StateOrProvinceService!
            .GetCountryStateOrProvinceListAsync(this.SelectedCountryId!.Value,
            CancellationTokenSource.Token);
        }
        this.SelectedStateOrProvinceId = null;
        this.CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.CityId = null;
        this.IsBusy = false;
    }

    private async Task OnSelectedStateOrProvinceChangedAsync(int? selectedValue)
    {
        this.IsBusy = true;
        this.SelectedStateOrProvinceId = selectedValue;
        CityList = null;
        if (selectedValue is not null)
        {
            this.CityList = await this.CityService!
            .GetStateOrProvinceCityListAsync(this.SelectedStateOrProvinceId!.Value,
            CancellationTokenSource.Token);
        }
        this.CreateStoreCustomerModel!.CreateStoreCustomerAddressModel!.CityId = null;
        this.IsBusy = false;
    }

    [ResourceKey(defaultValue: "Create My Store Customer")]
    public const string CreateMyStoreCustomerTextKey = "CreateMyStoreCustomerText";
    [ResourceKey(defaultValue: "Name")]
    public const string NameTextKey = "NameTextKey";
    [ResourceKey(defaultValue: "First Surname")]
    public const string FirstSurnameTextKey = "FirstSurnameText";
    [ResourceKey(defaultValue: "Middle Surname")]
    public const string MiddleSurnameTextKey = "MiddleSurnameText";
    [ResourceKey(defaultValue: "Email Address")]
    public const string EmailAddressTextKey = "EmailAddressText";
    [ResourceKey(defaultValue: "Phone Number")]
    public const string PhoneNumberTextKey = "PhoneNumberText";
    [ResourceKey(defaultValue: "Company")]
    public const string CompanyTextKey = "CompanyText";
    [ResourceKey(defaultValue: "Address Line 1")]
    public const string AddressLine1TextKey = "AddressLine1Text";
    [ResourceKey(defaultValue: "Address Line 2")]
    public const string AddressLine2TextKey = "AddressLine2Text";
    [ResourceKey(defaultValue: "Postal Code")]
    public const string PostalCodeTextKey = "PostalCodeText";
    [ResourceKey(defaultValue: "Country")]
    public const string CountryTextKey = "CountryText";
    [ResourceKey(defaultValue: "Select a Country")]
    public const string SelectCountryTextKey = "SelectCountryText";
    [ResourceKey(defaultValue: "State Or Province")]
    public const string StateOrProvinceTextKey = "StateOrProvinceText";
    [ResourceKey(defaultValue: "Select a State Or Province")]
    public const string SelectStateOrProvinceTextKey = "SelectStateOrProvinceText";
    [ResourceKey(defaultValue: "City")]
    public const string CityTextKey = "CityText";
    [ResourceKey(defaultValue: "Select a City")]
    public const string SelectCityTextKey = "SelectCityText";
    [ResourceKey(defaultValue: "Save")]
    public const string SaveTextKey = "SaveText";
}
